In [1]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'State': ['California', 'California', 'Texas', 'Texas'],
    'City': ['San Francisco', 'Los Angeles', 'Austin', 'Houston'],
    'Population': [883305, 3980400, 964254, 2328000],
    'Area': [121.4, 503, 305.1, 637.4]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
        State           City  Population   Area
0  California  San Francisco      883305  121.4
1  California    Los Angeles     3980400  503.0
2       Texas         Austin      964254  305.1
3       Texas        Houston     2328000  637.4

In [2]:
df_multi_index = df.set_index(['State', 'City'])
print("\nDataFrame with Multi-Level Indices:")
print(df_multi_index)

DataFrame with Multi-Level Indices:
                          Population   Area
State      City
California San Francisco      883305  121.4
           Los Angeles       3980400  503.0
Texas      Austin             964254  305.1
           Houston           2328000  637.4

In [9]:
# Accessing data with multi-level indices
print("\nPopulation of Austin, Texas:")
print(df_multi_index.loc[('Texas', 'Austin'), 'Population'])
# df_multi_index.loc[state=('California')]

Population of Austin, Texas:
964254

In [13]:
idx = pd.IndexSlice
df_multi_index.loc[idx['Texas', 'Austin'], 'Area']=1

In [14]:
df_multi_index.loc[idx['Texas', 'Austin']]

Population    964254.0
Area               1.0
Name: (Texas, Austin), dtype: float64

In [17]:
import numpy as np
arr = np.arange(0,6)
np.where(arr == 3, 1, 2)

array([2, 2, 2, 1, 2, 2])

In [25]:
for idx, row in df_multi_index.iterrows():
    print("Index:", idx)
    print("Row Data:\n", row)
    print("Area:", row["Area"])
    print("---")

Index: ('California', 'San Francisco')
Row Data:
 Population    883305.0
Area             121.4
Name: (California, San Francisco), dtype: float64
Area: 121.4
---
Index: ('California', 'Los Angeles')
Row Data:
 Population    3980400.0
Area              503.0
Name: (California, Los Angeles), dtype: float64
Area: 503.0
---
Index: ('Texas', 'Austin')
Row Data:
 Population    964254.0
Area               1.0
Name: (Texas, Austin), dtype: float64
Area: 1.0
---
Index: ('Texas', 'Houston')
Row Data:
 Population    2328000.0
Area              637.4
Name: (Texas, Houston), dtype: float64
Area: 637.4
---